<div class="background">
<div class="divForm">
    <h1>Clubes Escom</h1>
    <form class="box" [formGroup]="log" (ngSubmit)="login()">
        <small *ngIf="errorLog"> Wrong User or Password </small>
        <div class="mb-3">
            <label for="usr" class="form-label">User : </label>
            <input type="email" class="form-control" id="usr" formControlName="user">
        </div>
        <div class="mb-3">
            <label for="pass" class="form-label">Password : </label>
            <input type="password" class="form-control" id="pass" formControlName="pass">
        </div>
        <button [disabled]="log.invalid" type="submit" class="btn btn-primary mb-3"> Entrar </button>
    </form>
    <footer>@NotAUserName 2022</footer>
</div>
</div>

