<div class="divForm">
    <form action="" method="post" class="box">
        <div class="mb-3">
            <label for="usr" class="form-label">User : </label>
            <input type="email" class="form-control" id="usr" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="pass" class="form-label">Password : </label>
            <input type="password" class="form-control" id="pass">
        </div>
        <a [routerLink]="['']">Enter</a>
    </form>
</div>
